langdetect==1.0.9
lxml==4.8.0
pydantic==1.9.0
email-validator==1.1.3
funcy==1.17
pytest==7.1.1
httpx==0.22.0
fastapi==0.75.1
uvicorn==0.17.6
gunicorn==20.1.0
python-multipart==0.0.5
notion-client==0.9.0